body {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-color: #434343;
}




nav {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #434343; /* Cor de fundo do menu */
  padding: 10px 0; /* Espaçamento interno do menu */
}

nav ul {
  list-style-type: none;
  padding: 0;
 
}

nav li {
  display: inline-block;
  margin: 10px;
 
}

nav a {
  color: #fff; /* Cor do texto do menu */
  text-decoration: none;
}

.menu a:hover {
  background-color: #555; /* Cor de fundo do link ao passar o mouse */
}



.content {
  text-align: justify;
  max-width: 600px;
  margin-bottom: 100px;
  margin-top: 50px; /* Adiciona espaço abaixo do menu */
  padding: 0 20px; /* Adiciona padding à área de conteúdo */

}

.content h1 {
  font-size: 2em;
  margin-bottom: 20px;
color: #fff
}

.content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
color: #fff
}

.content p {
  font-size: 1.2em;
  color: #fff;
}

.content ul {
  font-size: 1.2em;
  color: #fff;
}

/* Estilo para o corpo do formulário */
form {
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}

.form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
color: #fff
}

/* Estilo para os rótulos dos campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffff;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura do campo */
}

/* Estilo para o botão de envio */
input[type="submit"] {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

/* Estilo para o botão de envio ao passar o mouse */
input[type="submit"]:hover {
  background-color: #1c1c1c;
}

/* Estilo para a área de descrição */
textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
}

.footer {
  background-color: #434343;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  font-size: 0.9em;
 
}


.portfolio-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 20px;
}

.portfolio-item {
  flex: 0 1 calc(33.33% - 20px);
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  max-height: 50%;
  height:auto;
  border-radius: 10px;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .portfolio-item {
      flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .portfolio-item {
      flex-basis: calc(100% - 20px);
  }
}


